@import url('https://fonts.googleapis.com/css?family=Playfair+Display+SC|Source+Code+Pro');


body {
    font-family: Soource Code Pro, Helvetica, Arial, sans-serif;
    text-align: center;
    background-color: lightskyblue
}

h1 {
    font-family: Source Code Pro;
    text-align: center;
    font-size: 4vw;
    color:crimson;

}

h2 {
    font-size: 2vw;
    color: crimson;
    text-align: center;
}

.year {
    display: block;
}

.fav {
    background-color: rgb(233, 205, 44);
}
.favorite{
    display: none;
}

.remove {
    background-color: crimson;
}

.actions {
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
    
.actions button {
      border: 0;
      padding: 0.75rem 0.8rem;
      transition: background-color .25s ease-out, transform .1s ease-out;
      cursor: pointer;
    }
    .actions button:hover {
      transform: scale(1.1);
    }
    
    button.remove {
      background-color: #cc3344;
      color: white;
    }
    button.remove:hover {
      background-color: #ee3344;
    }
    
    button.fav {
      background-color: #ffbb22;
      color: black;
    }
    button.fav:hover {
      background-color: #ffdd33;
      color: black;
     }

ul#flicks {
          list-style: none;
          margin: 1rem;
          padding: 0;
          border: 1px solid #eee;
        }
        
        .flick {
          padding: 0.5rem;
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
        
        .flick:nth-of-type(odd) {
          background-color: rgb(119, 198, 230);
        }
        
        .flick.fav {
          background-color: #ffff66;
        }
        
        .info {
          flex: 1;
         }