@import url('https://fonts.googleapis.com/css?family=Playfair+Display+SC|Source+Code+Pro');


body {
    font-family: Soource Code Pro, Helvetica, Arial, sans-serif;
    text-align: left;
    background-color: lightskyblue
}

h1 {
    font-family: Source Code Pro;
    text-align: left;
    font-size: 8vw;
    color:crimson;

}

h2 {
    font-size: 4vw;
    color: crimson;
}

.year {
    display: block;
}

.fav {
    background-color: rgb(233, 205, 44);
}
.favorite{
    display: none;
}

.remove {
    background-color: crimson;
}
